# Ignore environment files
.env
.env.*
!.env.example   # keep the template in git

# Bundler
/.bundle

# Logs and temp files
/log
/tmp

# Ruby artifacts
*.gem
*.rbc
.byebug_history

# System files
.DS_Store
Thumbs.db
